.header {
  background-color: #e65622;
  background-image: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  height: 400px;
}

.header div img {
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name h2{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: normal;
}

.name h2 span {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: bold;
}